<!DOCTYPE html>
<html lang="en">
<head>

	<!--META BEGIN-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="SMS">
	<meta name="description" content="SMS script execution">
	<!--META END-->
	<title>Ultimate SMS</title>
	<!--LINKS BEGIN-->
	<link href='bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat|Open+Sans' rel='stylesheet' type='text/css'>
	<link href='css/reset.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
	<!--LINKS END-->
	<!--CDN BEGIN-->
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<!--CDN END-->
	<!--LOCAL BEGIN-->
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<!--LOCAL END-->

</head>

<body>
<!--HEADER BEGIN-->
<div>
	<% include partial/header %>
</div>
<!--HEADER END-->


<div class="container">

</div>

<!--FOOTER BEGIN-->
<div>
	<% include partial/footer %>
</div>
<!--FOOTER END-->

</body>
</html>