<!DOCTYPE html>
<html lang="en">
<head>

	<!--META BEGIN-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="SMS">
	<meta name="description" content="SMS script execution">
	<!--META END-->
	<title>Serve</title>
	<!--LINKS BEGIN-->
	<link href='bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway' rel='stylesheet' type='text/css'>
	<link href='css/reset.css' rel='stylesheet' type='text/css'>
	<link href='css/login.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
	<!--LINKS END-->
	<!--CDN BEGIN-->
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<!--CDN END-->
	<!--LOCAL BEGIN-->
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<!--LOCAL END-->

</head>

<body>
<a href="https://github.com/bclyang/treehacks2"><img src="img/fork.gif" style="position:absolute;right:0 "/></a>

<div class="decoration-box"></div>	
<div class="decoration-box" style="height:50px;background-color:#4FC3F7"></div>

<h1 class="title">Serve</h1>
<p class="caption">Make texts do what your heart desires</p>

<div style="margin-top:90px;left:50%;position:relative;margin-left:-200px;width:800px">
	<a href="/register"><button class="btn-item">Register</button></a>
	<a href="/login"><button class="btn-item login-btn">Login</button></a>
</div>



<footer >
	Developed in 36 hours @TreeHacks '15
</footer>

</body>
</html>
