<!DOCTYPE html>
<html lang="en">
<head>

	<!--META BEGIN-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="SMS">
	<meta name="description" content="SMS script execution">
	<!--META END-->
	<title>Main - Ultimate SMS</title>
	<!--LINKS BEGIN-->
	<link href='bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat|Open+Sans' rel='stylesheet' type='text/css'>
	<link href='css/reset.css' rel='stylesheet' type='text/css'>
	<link href='css/create.css' rel='stylesheet' type='text/css'>
	<link href='css/main.css' rel='stylesheet' type='text/css'>
	<!--LINKS END-->
	<!--CDN BEGIN-->
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
	<!--CDN END-->
	<!--LOCAL BEGIN-->
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<!--LOCAL END-->

</head>

<body>
<!--HEADER BEGIN-->
<div>
	<% include partial/sidebar %>
</div>
<!--HEADER END-->


<div class="container col-md-10" >

    <div class="title">My Panel</div>
                    
    <form accept-charset="utf-8" style="margin-bottom:20px">

    	<h4>App List</h4>
        <table class="table">                    
            <tr>
                <td class="col-md-11 field-name">daily digest</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            </tr>
                                     
            <tr>
                <td class="col-md-11 field-name">coming home</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            </tr> 
        </table> 

    </form>

    <div class="col-md-11 create-section">
    	<div class="col-md-6 sub">
    		<div class="create-btn" style="background-color:#FFA726"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
    		<span>Design App</span>
    	</div>

    	<div class="col-md-6 sub">
    		<div class="create-btn" style="background-color:#00BCD4"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
    		<span>Create Project</span>
    	</div>
    </div>


</div>


</body>
</html>