<link href='css/sidebar.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

<div class="sidebar">
	<img class="profile-picture" src="img/default.jpg"/>
	<div class="profile-info">
		<h1 class="name"><%= user.name %></h1>
		<h4 class="number"><%= user.local.phone %></h4>
	</div>	



	<div class="sidebar-bottom">
		<a href="/"><div class="edit">Settings<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div></a>
	</div>

</div>